/* Match rest of mw-ui-vform style */
.petition-form #mw-input-wpcountry,
.petition-form #mw-input-wppersonalmessage {
	padding: 0.35em 0.5em 0.35em 0.5em;
	border: 1px solid #ccc;
	color: #252525;
	margin: 0;
	width: 100%;
}

.petition-form .mw-htmlform-field-HTMLInfoField {
	font-size: 0.9em;
	line-height: normal;
	color: #4d4d4d;
}